body{
    background: lavender;
    background: linear-gradient(to right,mediumpurple,plum,lavender, plum, lavender, mediumpurple);

}

.fto-link:hover{
    font-size: large;
    color: sienna;
    font-family: "American Typewriter";
}
.fto-link{
    font-family: "American Typewriter";
}

.list-info:hover{
    background-color: lightblue;
}



/*admin pto page*/
.card:hover{
    background-color: lightblue;
}
.text-approve{
    color: darkgreen;
    font-size: large;

}
.mb-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}