body{
    background-color: lightgray;

}

.fto-link:hover{
    font-size: large;
    color: sienna;
    font-family: "American Typewriter";
}
.fto-link{
    font-family: "American Typewriter";
}

.list-info:hover{
    background-color: lightblue;
}



/*admin pto page*/
.card:hover{
    background-color: lightblue;
}