/*employee form page*/
body{
    background: lavender;
    background: linear-gradient(to right,mediumpurple,plum,lavender, plum, lavender, mediumpurple);
    flex-direction: column;
    min-height: 100vh;
}
.container-form{
    height: 800px;
    width: 600px;
    background: grey;
    background: linear-gradient(to right,darkgrey,lightslategray,darkgrey, grey);
    margin: 50px auto;
    border-style: wave;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
    border-radius: 40px;
    width: 560px;
    margin-left: 3%;
    margin-right: 30%;
}