<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css" type="text/css">


</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">

<a id="logout" href="/html/login.html" class="btn btn-warning btn-lg" onclick="handleLogout()">
    <span class="glyphicon glyphicon-log-out"></span> Log out
</a>
<br>
<br>
<h3>Employee List</h3>
<table class="table table-striped" >
<thead>
    <tr>
        <th>Emp ID</th>
        <th>Flexible Time Off</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
    </tr>
</thead>



        <tr class="list-info" th:each="info, iterStat : ${listEmployeesInfo}">
            <td th:text="${listEmployees[iterStat.index].id}"></td>
            <td class="fto-link"><a th:href="@{/employee/{employeeId}(employeeId=${listEmployees[iterStat.index].id})}">View Requests</a></td>
            <td th:text="${info.firstName}"></td>
            <td th:text="${info.lastName}"></td>
            <td th:text="${info.street}"></td>
            <td th:text="${info.city}"></td>
            <td th:text="${info.state}"></td>
            <td th:text="${info.zipCode}"></td>
            <td class="delete-btn">
                <a th:href="@{deleteEmp/{employeeId}(employeeId=${listEmployees[iterStat.index].id})}"
                   class="waves-effect waves-light btn red litghten-2"
                   th:data-confirm-delete="|Are you sure you want to delete employee: ${info.firstName}?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                >Delete</a>
            </td>
        </tr>



</table>
<script src="/javascript/Admin/admin.js" type="application/javascript"></script>

</body>
</html>